html, body
{
  height: 100%;
  margin: 0;
}

body
{
  background-image: linear-gradient(to right top, #8b5064, #f1c8c8, #ffe5fa, #ffd1f6, #f3cef1);
}

.header
{
	color: rgb(255, 255, 255);
	font-family: 'League Spartan', sans-serif;
	font-size: 60px;
	font-weight: 900;
	letter-spacing: 4px;
	margin-top: 70px;
	text-transform: uppercase;
}

.header img
{
	width: 180px;
	margin-left: 0px;
}

.login_div
{
	background: rgba(255, 255, 255, 0.8);
	float: none;
	border-radius: 20px;
}

.logo
{
	width: 350px;
	margin-top: 40px;
	border-radius: 80px;
}

#login_button
{
	width: 80%;
	border-radius: 15px;
	font-family: 'League Spartan', sans-serif;
	font-weight: 700;
}

.room_name
{
	cursor: pointer;
	font-size: 20px;
}

#logout
{
	font-size: 20px;
	float: right;
}

#output
{
	padding: 10px;
	width: 80%;
	background: rgb(255, 255, 255);
	border-radius: 25px;
}

.input_div_room_page
{
	width: 80%;
}

.input_div label
{
	color: rgb(241, 241, 241);
	font-size: 20px;
}

.input_div_message_page
{
	position: fixed;
	bottom: 0px;
	width: 100%;
	background: rgba(255, 255, 255, 0.8);
}

.input_div_message_page label
{
	color: black;
}

.input_div_message_page #msg
{
	width: 80%;
}

.input_div_message_page button
{
	margin-top: 15px;
	width: 50%;
}

.color_white
{
	color: rgb(0, 0, 0);
}

.user_tick
{
	width: 20px;
}

.message_h4
{
	padding-left: 5px;
	color: rgb(0, 0, 0);
}

#mensaje
{
	color: #8b5064;
	font-size: 18px;
	font-weight: bold;
	margin-top: 10px;
}

.form-control
{
	border-radius: 12px;
}

.btn-primary
{
	border-radius: 12px;
	font-family: 'League Spartan', sans-serif;
	font-weight: 700;
	width: 80%;
}

.input-group-addon
{
	cursor: pointer;
	background-color: white;
}

.login_div h1
{
	color: #8b5064;
	font-family: 'League Spartan', sans-serif;
	font-weight: 700;
}

.login_div a
{
	color: #8b5064;
	font-weight: bold;
	text-decoration: none;
}

body {
    background-image: linear-gradient(
        to right top,
        #8b5064,
        #f1c8c8,
        #ffe5fa,
        #ffd1f6,
        #f3cef1
    );
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    overflow-x: hidden;
}